
@import "tailwindcss";
@plugin "daisyui" {
  theme: light --default;
}

body,
html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
}


@theme {
  --color-primary-color: #151515;
  --color-shade-primary: #474747;
  --color-text-secondary: #6d6d6d;
  --color-background: #eeeeee;
  --color-secondary-background: #e0e0e0;
  --color-accent-100: #5057e9;
}

@font-face {
  font-family: 'Giaza';
  src: url('./assets/fonts/Giaza.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url("./assets/fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  a {
    cursor: pointer; /* Add cursor for every anchor some doesn't have idk why */
  }
  button {
    cursor: pointer; /* Also adds cursor for every button cuz it doesn't have and it's sucks */
  }

  h1 {
    font-family: 'Giaza', sans-serif;
  }

  h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer components {
  /* Rounded Icon Mostly for Profile */
  .icon-rounded {
    @apply size-10 rounded-full;
  }
  /* Icon Size */
  .icon-sm {
    @apply size-4;
  }
  .icon-md {
    @apply size-6;
  }
  .icon-lg {
    @apply size-8;
  }
  .icon-xl {
    @apply size-10;
  }
  /* Input field such as Search Bar */
  .input-field {
    @apply rounded-lg px-2 py-1 ring-2 ring-black;
  }
  /* Border using ring*/
  .border-ring {
    @apply ring-2 ring-black;
  }
  /* Profile Page Picture */
  .profile-pic {
    @apply w-18 lg:w-28;
  }
  /* Small Navbar */
  .navbar-sm {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.5rem /* 8px */;
    min-height: 2rem /* 64px */;
    :where(&) {
      position: relative;
    }
  }

  
  /* -------------------------------------- */
  /*                Margin                  */
  /* -------------------------------------- */

  /* -------------------------------------- */
  /*                Cursor                  */
  /* -------------------------------------- */
  .cursor-opacity {
    @apply hover:brightness-[80%] active:brightness-[70%];
  }
  .cursor-bg {
    @apply hover:bg-gray-400 active:bg-gray-600;
  }

  /* -------------------------------------- */
  /*                Animations              */
  /* -------------------------------------- */
  .scale-transition {
    @apply transition duration-200 ease-in-out hover:scale-101 hover:shadow-md;
  }

  .content-position-center {
    @apply top-[45%] left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  /* User Registration Form */

  .registration {
    @apply flex min-h-screen items-center justify-center lg:p-6;
  }

  .registration-card {
    @apply flex h-full w-full flex-col justify-center p-8 lg:h-auto lg:max-w-sm lg:rounded-lg lg:p-10 lg:shadow-xl;
  }

  /* Profile Page */
  .profile-container {
    @apply flex flex-col gap-4 lg:grid lg:max-w-6xl lg:grid-cols-5 lg:grid-rows-5;
  }
}

@layer utilities {
  /* Common Icon Size */
  .icon-size {
    @apply size-4;
  }
  /* For centering items inside a flexbox */
  .center-items {
    @apply flex items-center justify-center;
  }

  /* For Drop down menu */
  /* Specify the location ex. top-15 left right bottom etc. */
  /* This will only set the height, width and column */
  .drop-down-menu {
    @apply absolute flex h-auto w-[20dvh] flex-col lg:w-[30dvh];
  }
  /* Exclusive For Navbar 
     Add Color Manually  */
  .navbar {
    @apply sticky top-0 flex h-14 items-center justify-between px-4;
  }
  /* For Post Cards Design */
  /* Change rounded depends on how rounded corners you want it to be */
  .card-s {
    @apply rounded-lg bg-white shadow-sm/10;
  }
  /* For Centering Sections */
  /* mx-auto to center, max-w set max width of container per screen sizes */
  .container-center {
    @apply md:mx-auto md:max-w-xl lg:max-w-2xl;
  }

  .page-margin {
    @apply mt-4 lg:mt-2;
  }
  
  .even-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  }

  /* -------------------------------------- */
  /*                Padding                 */
  /* -------------------------------------- */
  .padding-sm {
    @apply px-2 py-1;
  }
  .padding-md {
    @apply px-4 py-2;
  }
  .padding-lg {
    @apply px-6 py-4;
  }
  /* Padding with Larger Height */
  .padding-h-sm {
    @apply px-1 py-2;
  }
  .padding-h-md {
    @apply px-2 py-4;
  }
  .padding-h-lg {
    @apply px-4 py-6;
  }
}
