@import "tailwindcss";

body {
  background-color: #eeeeee;
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #151515;
  --color-shade-primary: #474747;
  --color-secondary: #6d6d6d;
  --color-background: #eeeeee;
  --color-secondary-background: #e0e0e0;
  --color-accent-100: #5057e9;
}

@layer base {
  a {
    cursor: pointer; /* Add cursor for every anchor some doesn't have idk why */
  }
  button {
    cursor: pointer; /* Also adds cursor for every button cuz it doesn't have and it's sucks */
  }
}

@layer components {
  /* Rounded Icon Mostly for Profile */
  .icon-rounded {
    @apply size-10 rounded-full;
  }
  /* Input field such as Search Bar */
  .input-field {
    @apply rounded-lg px-2 py-1 ring-2 ring-black;
  }
  /* Border using ring*/
  .border-ring {
    @apply ring-2 ring-black;
  }

  /* -------------------------------------- */
  /*                Padding                 */
  /* -------------------------------------- */
  .padding-sm {
    @apply px-2 py-1;
  }
  .padding-md {
    @apply px-4 py-2;
  }
  .padding-lg {
    @apply px-6 py-4;
  }
  /* Padding with Larger Height */
  .padding-h-sm {
    @apply px-1 py-2;
  }
  .padding-h-md {
    @apply px-2 py-4;
  }
  .padding-h-lg {
    @apply px-4 py-6;
  }
  /* -------------------------------------- */
  /*                Margin                  */
  /* -------------------------------------- */

  /* -------------------------------------- */
  /*                Cursor                  */
  /* -------------------------------------- */
  .cursor-opacity {
    @apply hover:brightness-[80%] active:brightness-[70%];
  }
  .cursor-bg {
    @apply hover:bg-gray-400 active:bg-gray-600;
  }
}

@layer utilities {
  /* Common Icon Size */
  .icon-size {
    @apply size-4;
  }
  /* For Drop down menu */
  /* Specify the location ex. top-15 left right bottom etc. */
  /* This will only set the height, width and column */
  .drop-down-menu {
    @apply absolute flex h-auto w-[20dvh] flex-col lg:w-[30dvh];
  }
  /* Exclusive For Navbar 
     Add Color Manually  */
  .navbar {
    @apply sticky top-0 flex h-14 items-center justify-between px-4;
  }
  /* For Post Cards Design */
  /* Change rounded depends on how rounded corners you want it to be */
  .card {
    @apply rounded-lg bg-white shadow-sm/10;
  }
  /* For Centering Sections */
  /* mx-auto to center, max-w set max width of container per screen sizes */
  .container-center {
    @apply md:mx-auto md:max-w-xl lg:max-w-2xl;
  }
}
